<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd 
            http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Start of BO classes -->
	<bean id="planBOImpl" class="com.zoneone.bo.impl.PlanBOImpl">
		<property name="planDAOImpl" ref="planDAOImpl"></property>
		<property name="planDTO" ref="planDTO"></property>
	</bean>
	<bean id="loginBOImpl" class="com.zoneone.bo.impl.LoginBOImpl">
		<property name="userDAOImpl" ref="userDAOImpl"></property>
	</bean>
	<bean id="chartBOImpl" class="com.zoneone.bo.impl.ChartBOImpl">
	</bean>
	<!-- End of BO classes -->



	<!-- Start of DTO classes -->
	<bean id="planDTO" class="com.zonenone.dto.PlanDTO" />
	<bean id="planDAOImpl" class="com.zonenone.dao.PlanDAOImpl" />
	<bean id="userDAOImpl" class="com.zonenone.dao.UserDAOImpl" />
	<!-- End of DTO classes -->

</beans>